{% extends 'basic.html' %}
 {% block titleh %}
    About Us - Vegcheap | Vegcheap About Us | Vegcheap Return Policy | Vegcheap Policy| Vegcheap details | details about Vegcheap |Know Us | Order from Us     
    {% endblock titleh%}
    {% block meta %}
   <meta name="description" property="og:description" content="Find out about Vegcheap.com by reading our policies. Get to know our return and replacement policy on vegcheap. Get to know us better and order on vegcheap ">
  <meta name="keywords" content="Vegcheap about , about vegcheap, details about  Vegcheap, Vegcheap return policies, Vegcheap details, veg cheap details, about veg cheap, all about vegcheap">
    {% endblock meta %}
{% block title %} About Us
{% endblock title %}
{% block body %} 


<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h1 class="font-weight-light">About us page</h1>
        <p class="font-italic text-muted mb-4"> The motive of our Company is to provide you with the best quality vegetables and fruits at your home at cheapest price. Give us a chance and order from sabzii.in, you won't regret it ever.  </p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/static/about.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Why go to market for vegetables and fruits</h2>
        <p class="font-italic text-muted mb-4">No need to go to market because we will provide you Quality products at cheaper prices. Vegetables and fruits are bought daily from mandi. We don't sell bad quality products here.</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Our Return and Replacement Policy</h2>
        <p class="font-italic text-muted mb-4">Please check the products at your door and ensure they are fresh, if not return or replace them to our delivery man at your door before paying. The items will not be returned or replaced once paid for them.  </p>
      </div>
    </div>
  </div>
</div>
<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Copyrights sabjiathome.com All rights reserved.</p>
  </div>
</footer>

{% endblock body %}