{% extends 'basic.html' %}
 {% block titleh %}
    Vegcheap | Online vegetables delivery in Bihar | Online vegetables delivery in Bettiah | Online vegetables delivery in Motihari| Best Online vegetables delivery in Bihar        
    {% endblock titleh%}
    {% block meta %}
   <meta name="description" property="og:description" content=" Vegcheap, get your vegetables delivered online in Bihar at vegcheap.com, fresh vegetables available at cheapest price in Bettiah, Motihari and other cities, fastest delivery in bihar, same day delivery of grocery product  ">
  <meta name="keywords" content="Vegcheap, Veg cheap, online vegetables delivery in bihar, online vegetables delivery in bettaih, motihari, Vegcheap Bihar, best online vegetables delivery, fresh vegetable online in bihar, fresh vegetables bihar, fresh vegetables Bettiah, best online vegetables deliveryin bihar, top online vegetables in Bihar, get fresh vegetables, fresh vegetables, cheap fresh vegetables online, best vegetables, organic vegetables, chemical free vegetables, vegcheap ">
    {% endblock meta %}
{% block css %}
body{
background-color: #d8dab8;
}
.card {
    background-color:#d7d7d7;
}
.card-img-top{
      width: auto;
    height: 246px;
}
.card-body{
  height: auto;

}
.text-center{
  margin:3px
}
    {% endblock css %}
{% block title %}Hlo {{request.user}} {% endblock title %}
{% block body %}

<div class="container-fluid px-0">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/media/{{details.0.image}}" class="d-block w-100 mx-0" alt="...">
      </div>
    </div>

  </div>

  <div class="container my-4">
    <h1 style="color: #842029;" class=text-center><span class="txt-type" data-wait="3000" data-words='["Order Before 12:00 p.m to get it delivered today"]'></span></h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
      {% for i in product %}
            <div class="col">
              <div class="card shadow-sm" >
                <img src="/media/{{i.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" id="namepr{{i.id}}">{{i.Product_name}}</h5>
                  <p class="card-text">{{i.desc}}</p>
                    <h6 class="card-title">Rs<span id="pricepr{{i.id}}">{{i.price}}</span>/kg</h6>
                  <div class="d-flex justify-content-between align-items-center">
                     <span id="divpr{{i.id}}" class="divpr">
                      <button id ="pr{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
                     </span>
                     <button class='btn btn-primary my-2 mx-2' onclick='clearCart()' id='clearCart'>Clear cart</button>
                      <a href='/checkout'><button class='btn btn-primary' id='checkout'>Checkout</button></a>
                  </div>
                </div>
              </div>
            </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock body %}
{% block js %}
    <script>
 class TypeWriter {
  constructor(txtElement, words, wait = 3000) {
    this.txtElement = txtElement;
    this.words = words;
    this.txt = '';
    this.wordIndex = 0;
    this.wait = parseInt(wait, 10);
    this.type();
    this.isDeleting = false;
  }

  type() {
    // Current index of word
    const current = this.wordIndex % this.words.length;
    // Get full text of current word
    const fullTxt = this.words[current];

    // Check if deleting
    if(this.isDeleting) {
      // Remove char
      this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
      // Add char
      this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    // Insert txt into element
    this.txtElement.innerHTML = `<span class="txt">${this.txt}</span>`;

    // Initial Type Speed
    let typeSpeed =100;

    if(this.isDeleting) {
      typeSpeed /= 2;
    }

    // If word is complete
    if(!this.isDeleting && this.txt === fullTxt) {
      // Make pause at end
      typeSpeed = this.wait;
      // Set delete to true
      this.isDeleting = true;
    } else if(this.isDeleting && this.txt === '') {
      this.isDeleting = false;
      // Move to next word
      this.wordIndex++;
      // Pause before start typing
      typeSpeed = 300;
    }

    setTimeout(() => this.type(), typeSpeed);
  }
}


// Init On DOM Load
document.addEventListener('DOMContentLoaded', init);

// Init App
function init() {
  const txtElement = document.querySelector('.txt-type');
  const words = JSON.parse(txtElement.getAttribute('data-words'));
  const wait = txtElement.getAttribute('data-wait');
  // Init TypeWriter
  new TypeWriter(txtElement, words, wait);
}   

if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
<!--document.getElementById('cart').innerHtml = Object.keys(cart).length;-->
updatecart(cart);
}


$('.divpr').on('click', 'button.cart', function(){
    var idstr = this.id.toString();
    if (cart[idstr] !=undefined){
      qty = cart[idstr][0] + 1;
    }
    else{
         qty = 1;
      name = document.getElementById('name'+idstr).innerHTML;
      price = document.getElementById('price'+idstr).innerHTML;
            cart[idstr] = [qty, name, parseInt(price)];
    }
    updatecart(cart)


});
function clearCart(){
cart = JSON.parse(localStorage.getItem('cart'));
for (var item in cart){
    document.getElementById('div' +item).innerHTML = '<button id ="' + item + '" class="btn btn-primary cart">Add to Cart</button>'
}
localStorage.clear();
cart = {};
updatecart(cart);
}
function updatecart(cart){
for (var item in cart){
document.getElementById('div'+item).innerHTML = "<button id='minus" + item+ "' class='btn btn-primary minus'>-</button> <span id ='val" + item+"''>" + 
cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus '> + </button>";
}
 localStorage.setItem('cart', JSON.stringify(cart));
}
$('.divpr').on("click", "button.minus", function(){
a = this.id.slice(7, );
cart['pr'+a][0] = cart['pr'+a][0]-1;
cart['pr'+a][0]= Math.max(0, cart['pr'+a][0])
document.getElementById('valpr'+a).innerHTML = cart['pr'+a][0];
if (cart['pr' + a][0] == 0){
  document.getElementById('divpr' + a).innerHTML = '<button id="pr'+a+'" class="btn btn-primary cart">Add to Cart</button>';
  delete cart['pr'+a];
}
else{
  document.getElementById('valpr'+a).innerHTML=cart['pr'+a][0];
}
updatecart(cart);

});

$('.divpr').on("click", "button.plus", function(){
a = this.id.slice(6, );
cart['pr'+a][0] = cart['pr'+a][0]+1;
document.getElementById('valpr'+a).innerHTML = cart['pr'+a][0];
updatecart(cart);
});
</script>
    {% endblock js %}
